* {
    box-sizing: border-box;
}

body {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 500;
    line-height: 1.4em;
    font-size: 1.2em;
    background-color: whitesmoke;
    text-align: center;
    padding: 0 1rem;

}

h6 {
    font-family: "source sans pro", sans-serif;
    text-align: center;
    color: gray;
    font-weight: 700;
    font-size: 1.2em;
}

h1,
h3,
li.menu-item {
    font-family: "Source Sans Pro", sans-serif;
    text-align: center;
    color: black;
    font-weight: 800;
}

main {
    background-color: rgb(250, 246, 246);
}

h2 {
    font-size: 1.3rem;
    width: 100%;
    margin: auto;
    padding: 3rem;
    font-weight: 600;
    color: black;
    text-align: center;
}

header,
section, {
    margin: 0 1rem;
    color: black;
}

#intro {
    margin: 0 1rem;
    color: gray;
}

footer {
    margin-top: 1.5rem;
}



img {
    margin: auto;
    max-width: 100%;
}

a {
    flex: 1;
    text-decoration: none;
    padding: 0.25rem 0;
    color: black;
}

span {
    display: inline-block;
    margin: 0 1rem;
}

#contact-info {
    color: gray;
}

header p, {
    color: black;
}

.page,
.skill {
    margin-bottom: 25%;
}

.skill:last-child,
.page:last-child {
    padding-bottom: 3rem;
    margin-bottom: 0;
}

img.profile-image {
    max-width: 60%;
}

#figure-item {
    flex-direction: row-reverse;
}

.intro {
    flex-direction: row-reverse;

}

body,
#intro,
#portfolio,
#skills,
ul.header-ul,
li.menu-item,
#bottom-menu {
    display: flex;
    justify-content: center;
}

ul.header-ul,
.figure {
    flex-direction: column;
}

li.menu-item,
#bottom-menu {
    margin: 0.15rem 0;
    font-size: 1rem;
    font-weight: 700;
}

li.menu-item {
    background: white;
}

#bottom-menu {
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5rem 1rem;
}

ul.footer-menu {
    display: none;
}

#intro {
    padding: 3rem 0;
    margin: 0;
}

#portfolio {
    border-bottom: 1px dashed rgb(243, 233, 233);
    font-family: 'Open Sans', sans-serif;
}

#contact-info {
    border-bottom: 1px solid rgb(243, 233, 233);
    padding-bottom: 3rem;
}

.skill img {
    max-width: 40vw;
}

nav {
    color: black;
}

ul.header-ul {
    text-align: center;
    padding-inline-start: 0;
}

p.figure-item {
    color: gray;
}

.invite {
    padding: 0 1vw 1vw;
    text-align: center;
}

#portfolio p {
    padding: 0 2rem;
    font-size: 1rem;
}

.contact-data {
    text-align: left;
    padding: 0 10vw 2vw;
    font-size: 0.8em;
}

.footer-title {
    color: black;
    margin: 10px 0;
}

li.menu-item {
    padding: 0.5rem;
    }

/* ---- Media Queries ---- */
@media screen and (min-width: 768px) {
body {
    margin: 40px 0;
    color: black;
    padding: 0 0rem;
}

div#intro.figure {
    flex-direction: row-reverse;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.name {
    text-align: center;
    font-size: 2em;
    margin: .75em;
}

.figure-item {
    margin: 0 0.4rem;
    color: black;
    flex-direction: row-reverse;
}

p.figure-item {
    color: black;
}

#intro img {
    max-width: 30%;
}

.skill img {
    max-width: 30vw;
}

#intro p {
    text-align: left;
    font-size: 1.3rem;
}

#intro {
    padding: 1rem 0;
}

#portfolio p {
    padding: 0 2rem;
    font-size: 1rem;
}

#skill p {
    padding: 0 1rem;
}

#skills,
#portfolio {
    flex-wrap: wrap;
    color: black;
}

.invite {
    padding: 0 12vw 2vw;
    margin: 5%;
}

.page,
.skill {
    margin: 0 0.4rem 3rem;
    flex: 1 40%;
}

.top-nav {
    margin: 0 25%;
    align-items: center;
    }

ul.header-ul {
    flex-direction: row;
    justify-content: space-around;
}

li.menu-item {
    background-color: whitesmoke;
    padding: 0.1rem;
}

nav {
    color: black;
    text-align: center;
}

.skill {
    max-width: 45vw;
}

.footer-menu-item a {
    align-self: center;
    padding: 0.5rem;
}

#bottom-menu {
    align-items: center;
}

.back-to-top {
    display: none;
}

ul.footer-menu {
    display: flex;
}

ul.footer-menu {
    list-style: none;
}

#skills,
#intro {
    flex-direction: row;
    margin: 2rem;
}

#portfolio {
    flex-direction: row;
    font-family: 'Open Sans', sans-serif;
    margin: 2rem;
}

.contact-data {
    text-align: left;
    padding: 0 28vw 1vw;
}

}

@media screen and (min-width: 1024px) {
.menu {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

#portfolio {
    font-family: 'Open Sans', sans-serif;
}

p.figure-item {
    color: black;
}

body {
    font-family: "Source Sans Pro", sans-serif;
    background-color: white;
    text-align: center;
}

main {
    background-color: white;
}

.top-nav {
    margin: 0;
}

.header-ul a {
    padding: 16px;
}
.name {
    flex: 0 0 auto;
}

.skill img {
    max-width: 20vw;
}

.page,
.skill {
    flex-basis: 25%;
}

.back-to-top {
    display: none;
}

li.menu-item {
    background-color: white;
    }

ul.footer-menu {
    list-style: none;
}


.invite {
    padding: 0 12vw 3vw;
    margin: 5%;
}

#intro img {
    max-width: 50%;
}

#portfolio p {
    padding: 0 1rem;
    font-size: 1rem;
}

.contact-data {
    text-align: left;
    padding: 0 28vw 2vw;
    font-size: 1em;
}

.footer-title {
    color: black;
}

}