* {
 text-align: center;
 font-family: 'Source Sans Pro', sans-serif;
 color: rgb(42, 42, 42);
 box-sizing: border-box;
 padding: 0;
 margin: 0;
}

body {
    text-align: center;
    padding: 5%;
}

img {
    padding-right: .25em;
    width: 100%;
}
p {
    padding-left: 1.5em;
    padding-right: 1em;
    color: rgb( 122, 122, 122);
    font-size: 12px;
}

h2 {
    font-weight: 800;
    list-style: none;
    text-transform: uppercase;
    padding: 20px;
    font-size: 17px;
}

h3 {
    font-weight: 700;
}
h4{
    color: rgb(118, 118, 118)
    font-size: 12px;
}
h5 {
    padding: 2em 0 1em 0;
}
.main-footer {
    background: rgb(242, 242, 242)
    text-align: center;
    overflow: hidden;
}

ul {
padding-left: 0;
}

header {
    background: rgb(256, 256, 256);
    padding: 1.5em;
}
.bp {
    padding: 1.5em 0 1 0;
    margin-left: 2em;
    width: 20em;
    font-size: 12px;
}
#top {
    text-transform: uppercase;
}

.top {
    margin: 18px 0;
}
.homebottom {
    display: none;
}
.contactbottom {
    display: none;
}
.portfoliobottom {
    display: none;
}
a {
    text-decoration: none;
    color: inherit;
}
.col {
    min-height: 250px;
    margin: 12px;
    text-align: center;
    padding-top: 6px;
    letter-spacing: 1.5px;
}
a:hover {
    text-decoration: underline;
    color: orange;
}

.title {
    font-size: 28px; 
}

.bio {
    color: rgb(56, 56, 56);
}

.home {
    padding: 1em;
    margin: 1em 0em 0em 0em;
    background-color: white;
    font-weight: bold;
    list-style: none;
}

.container {
    margin: 0 auto;
    padding-top: 10%;
    padding-bottom: 10%;
    max-width: 1050px;
}

.portfolio {
    padding: 2em;
    font-weight: bold;
    margin: .25em .25em .25em .25em;

}

.contact {
    font-weight: 650;
    background-color: white;
    padding: 1em;
    text-align: center;
    margin: .25em 0em .25em 0em;
    font-weight: bold;
}

.main-footer {
    text-align: center;
    flex-direction: row;
    border-top: solid blue 1px;
    font-weight: 800;
}

.back {
    padding-bottom: 2em;
    padding-right: 1.2em;
    float: right;
    color: black;
}
.name {
    padding: 0 0 1.5em 1.2em;
    float: left;
    color: black;
}
.bottomone {
    padding-bottom: 2em;
    font-size: 12px;
}
.bottomtwo {
    font-size: 12px;
}
.resize {
    margin-left: auto; 
    margin-right: auto;
    width: 55%;
    display: block;
}
.intro {
    padding-top: 1.5em;
    padding-bottom: 1em;
    width: 18em;
    padding-left: 0;
    font-size: 14px;
}
hr {
    background-color: #ccc;
    border: none;
    margin: 1em;
    height: 1px;
}
/*===========================================
Media Queries
=============================================*/

@media (min-width) {min-width: 768px) {
. container {
    display: flex;
    flex-wrap: wrap;
}
.col {
    flex-basis: calc(50% - 20px);
}
resize {
    padding-top: 3.5em;
    float: right;
    width: 40%;
}
h1 {
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 26px;
}
.home .portfolio .contact {
    display: inline;
    background-color: transparent;
}
.clear {
    clear: both;
}
.intro {
    font-size: 16px;
    text-align: left;
    padding-top: 3em;
    padding-bottom: 6em;
    width: 26em;
}
.contacts {
    font-size: 14px;
}
.bp {
    font-size: 18px;
    margin-left: 4.25em;
    padding-bottom: 1em;
    width: 28em;
}
.containertwo {
    flex-direction: row-reverse;
    margin-right: 2em;
    display: flex;
}
.back {
    display: none;
}
.homebottom {
    font-size: 10px;
    font-weight: bold;
    padding-right: 2em;
    display: inline;
}
.portfoliobottom {
font-size: 10px;
font-weight: bold;
padding-right: 1em;
display: inline;
}
.main-footer {
    height: 400px;
}
.contactbottom {
    font-size: 10px;
    font-weight: bold;
    display: inline;
}
.name {
    color: black;
    padding-top: 2.5px;
}
.bottomone {
    margin-left: 12em;
    font-size: 14px;
}
.bottomtwo {
    margin-left: 12em;
    font-size: 14px;
}
p {
    font-size: 12px;
    width: 22.5em;
    margin-left: .5em;
    padding-bottom: 2em;
}
 /* ======================================
 Media Querie 2
    ====================================== */

@media screen and (min-width: 1024px) {
    .col {
        margin-left: 1.5em;
        flex-basis: calc(33.333% - 20px);
}
h1 {
    margin-bottom: -1.6em;
    text-align: left;
}
.resize {
    margin-bottom: 2em;
    margin-right: .5em;
}
.intro {
    margin-left: 0;
    font-size: 18px;
}
h5 {
    color: rgb(120, 120, 120) ;
    font-size: 14px;
}
.port {
    padding-bottom: 1em;
    padding-top: 3em;
    color: black;
}
nav {
    margin-right: -.3em;
    text-align: right;
}
img {
    width: 18em;
    margin: 0;
}
.travelcalc {
    margin-left: -2px;
}
.searchphoto {
    margin-left: -2px;
}
.container {
    margin: 0 0 0 -.2em;
    padding: 0;
}
p {
    padding-left: 1.3em;
    padding-right: 1.3em;
    margin-left: -.5em;
}
.bp {
    margin-left: 8em;
}
body {
    border: rgb(238, 238, 238) 16px solid;
}
.contacts {
    margin-left: 1em;
    padding-top: 1.5em;
}
.bottomone {
    font-size: 18px;
    margin-left: 12em;
}
.bottomtwo {
    font-size: 18px;
    margin-left: 12em;
}


